.title {
  width: 100vw;
  height: 10%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;

  color: blueviolet;
}

.zoom {
  border: solid black 1px !important;
}

.map_container {
  height: 80%;
  margin: auto;
  overflow: hidden; /* Ẩn phần bị tràn */
  svg {
    cursor: grab; /* Biến con trỏ thành dấu tay khi hover */
    user-select: none; /* Ngăn chặn việc chọn văn bản khi kéo */
    g {
      svg {
        g {
          g {
            path {
              &:hover {
                fill: purple !important;
              }
            }
          }
        }
      }
    }
  }
}
