.title {
  width: 100vw;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  color: blueviolet;
}

.map_container {
  width: 50%;
  margin: auto;
  overflow: hidden; /* Ẩn phần bị tràn */
  svg {
    cursor: move; /* Biến con trỏ thành dấu tay khi hover */
    user-select: none; /* Ngăn chặn việc chọn văn bản khi kéo */
    g {
      svg {
        g {
          g {
            path {
              &:hover {
                fill: purple !important;
              }
            }
          }
        }
      }
    }
  }
}
